* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: lightgray;
}

/*
SCROLLBAR EDITATION

*/
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 15px rgb(197, 184, 184);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0ee26d;
}
::-webkit-scrollbar-thumb:hover {
  background: #1ab460;
}

/*NAV*/

nav {
  width: 100%;
  height: 110px;
  background-color: #2e2f34;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  z-index: 101;
  position: -webkit-sticky;
  position: sticky;
}
nav ul {
  display: flex;
  flex-direction: row;
  color: rgb(245, 243, 243);
  list-style: none;
  margin-top: 20px;
  margin-right: 18px;
  font-family: sans-serif;
  font-size: 20px;
}
nav ul li {
  margin: 10px;
  padding: 16px 10px;
  cursor: pointer;
  padding-bottom: 10px;
  margin-bottom: 37px;
}

nav ul li::after {
  content: "";
  height: 3.5px;
  width: 0%;
  background-color: rgb(245, 243, 243);
  display: block;
  margin: 0;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
nav ul li:hover::after {
  width: 100%;
}

nav h2 {
  cursor: pointer;
  color: white;
  font-family: cursive;
  font-size: 44px;
  margin: 6px 24px;
  padding-left: 28px;
}
nav #dot {
  color: #c6b255;
  font-size: 60px;
}

nav #icon {
  color: white;
  font-size: 40px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  margin-top: 16px;
  cursor: pointer;
  display: none;
}
nav ul li a {
  text-decoration: none;
  color: white;
}

/*home styles*/
.home-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: sans-serif;
}
.home-text h2 {
  font-size: 40px;
  font-family: cursive, sans-serif;
}
.home img {
  width: 100%;
  height: 620px;
  background-size: cover;
}
.home-text #position {
  color: #c6b255;
  font-size: 40px;
  font-family: cursive, sans-serif;
  font-weight: bold;
}

/*About me styles*/
.about-me {
  width: 100%;
  height: 600px;
  background-color: #2e2f34;
  border-bottom: 4px solid rgb(219, 209, 209);
}
.about-me h2 {
  margin: 0;
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: 36px;
  padding-top: 26px;
  padding-bottom: 10px;
  text-decoration: underline 4px white;
}
.about-me p {
  text-align: center;
  color: rgb(231, 224, 224);
  font-family: sans-serif;
  font-size: 19px;
}
.about-me p .abt {
  color: white;
  font-style: italic;
  text-decoration: underline 1px white;
}
.about-container {
  width: 75%;
  height: 430px;
  background-color: #1c1b29;
  margin: 30px auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.about-container:hover {
  box-shadow: 0px 0px 15px rgb(90, 87, 87);
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
.first {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-family: sans-serif;
  padding-right: 40px;
}
.first p {
  font-size: 22px;
  color: rgb(219, 211, 211);
  padding: 10px;
}
.first span {
  color: #c6b255;
}
.second {
  width: 50%;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.second h3 {
  color: white;
  font-size: 26px;
  font-family: sans-serif;
  margin-bottom: 24px;
}
.HTML,
.CSS,
.JAVASCRIPT,
.REACT,
.NodeJS {
  width: 80%;
  height: 24px;
  background-color: #181725;
  text-align: center;
  margin: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0px 0px 6px rgb(182, 155, 155);
}
.second p {
  margin: 0;
  margin-left: 10px;
}
.range-fill {
  background-color: #0eb759;
  height: 24px;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/*services*/
.services {
  width: 100%;
  height: 450px;
  background-color: #1c1b29;
  border-bottom: 5px solid rgb(231, 223, 223);
}
.services h2 {
  text-align: center;
  font-size: 34px;
  font-family: sans-serif;
  color: white;
  padding: 20px;
  text-decoration: underline 4px white;
}
.services-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.box {
  width: calc(20% + 4%);
  height: 340px;
  background-color: #cdcdce;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.box:hover {
  box-shadow: 0px 0px 20px rgb(224, 214, 214);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.box img {
  width: 80%;
}
.box p {
  color: rgb(0, 0, 0);
  font-size: 19px;
  font-family: sans-serif;
  font-weight: bold;
}

/*Projects*/
.projects {
  width: 100%;
  height: auto;
  background-color: #1c1d1f;
  border-bottom: 4px solid rgb(201, 190, 190);
}
.projects h2 {
  text-align: center;
  color: white;
  font-size: 34px;
  font-family: sans-serif;
  text-decoration: underline 4px white;
  padding: 14px;
}
.p-btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.p-btns button {
  font-size: 22px;
  font-weight: bold;
  margin: 8px;
  background-color: #1c1d1f;
  /*outline: 4px solid white;
  */
  border: 4px solid white;
  color: white;
  width: 88px;
  height: 38px;
  -webkit-border-radius: 180px;
  -moz-border-radius: 180px;
  -ms-border-radius: 180px;
  -o-border-radius: 180px;
  border-radius: 180px;
  cursor: pointer;
}
.active
/* .p-btns button:hover*/ {
  outline: 5px solid #ef3724;
  border: 5px solid #1c1d1f !important;
  background-color: #ef3724 !important;
}
.project-container {
  margin-top: 20px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.bx {
  width: 340px;
  height: 300px;
  background-color: #0eb759;
  margin: 20px;
}
.bx:hover {
  box-shadow: 0px 0px 27px rgb(70, 61, 61);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.bx img {
  width: 100%;
  height: 220px;
}
.bx-text {
  background-color: rgb(6, 3, 49);
  height: 80px;
  width: 100%;
  position: relative;
  top: -1.2%;
  text-align: center;
}
.bx-text h3 {
  padding-top: 6px;
  font-size: 24px;
  font-family: sans-serif;
  color: white;
  margin-bottom: 10px;
}
.bx-text a {
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-family: sans-serif;
  border: 4px solid rgb(6, 3, 49);
  outline: 4px solid red;
  padding: 2px 20px;
  -webkit-border-radius: 180px;
  -moz-border-radius: 180px;
  -ms-border-radius: 180px;
  -o-border-radius: 180px;
  border-radius: 180px;
  background-color: red;
  text-decoration: none;
}
/*Contact*/
.contact {
  width: 100%;
  height: 350px;
  background-color: hsl(244, 21%, 13%);
  width: 100%;
}
.c-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}
.name-email {
  display: flex;
  flex-direction: row;
}
.contact h2 {
  font-size: 34px;
  color: white;
  text-align: center;
  padding-top: 20px;
  font-family: sans-serif;
  text-decoration: underline 4px white;
}
/* .c-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 70%;
  background-color: red;
} */

.contact #name {
  width: 300px;
  height: 50px;
  border: 3px solid #1ab460;
  border-radius: 17px;
  background-color: #14141e;
  outline: none;
  font-size: 20px;
  color: #c6c6c6;
  padding-left: 10px;
  margin: 4px;
}
#name::placeholder {
  font-size: 18px;
  padding-left: 10px;
  color: #c6c6c6;
}
.contact #email {
  width: 300px;
  height: 50px;
  border: 3px solid #1ab460;
  border-radius: 17px;
  background-color: #14141e;
  outline: none;
  font-size: 20px;
  color: #c6c6c6;
  padding-left: 10px;
  margin: 4px;
}
#email::placeholder {
  font-size: 18px;
  padding-left: 10px;
  color: #c6c6c6;
}
#message {
  width: 620px;
  height: 100px;
  border: 3px solid #1ab460;
  border-radius: 17px;
  background-color: #14141e;
  outline: none;
  font-size: 20px;
  color: #c6c6c6;
  padding-left: 10px;
  margin: 5px 0 2px 0;
}
#message::placeholder {
  font-size: 20px;
  padding-left: 10px;
  color: #c6c6c6;
}
#submit {
  width: 110px;
  height: 40px;
  background: #1ab460;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: white;
  cursor: pointer;
  outline: 4px solid #1ab460;
  border: 4px solid #1c1b29;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
#submit:hover {
  box-shadow: 0px 0px 20px rgb(138, 129, 129);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
/*footeer*/
.footer {
  width: 100%;
  height: 120px;
  background-color: hsl(244, 21%, 13%);
  border-bottom: 4px solid rgb(184, 174, 174);
}
.sm-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sm-icons i {
  font-size: 38px;
  color: white;
  cursor: pointer;
  margin: 8px;
}
.sm-icons i:hover {
  text-shadow: 0px 0px 34px #ffffff;
}
.footer #fir,
.footer #sec {
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  margin-top: 10px;
}
.footer #sec {
  display: none;
}
.footer #fir a,
.footer #sec a {
  color: white;
  text-decoration: none;
}
.footer #fir a:hover {
  border-bottom: 4px solid white;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

footer {
  width: 100%;
  height: 35px;
  background-color: #1c1d1f;
}
footer p {
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
  padding-top: 6px;
}

/*media queries*/
@media screen and (max-width: 1024px) {
  .home img {
    height: 500px;
  }
  .about-container {
    width: 85%;
  }
  .box {
    width: 28%;
  }
  .bx {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  nav #icon {
    display: block;
  }
  nav ul {
    position: absolute;
    width: 50%;
    height: 87vh;
    background-color: #2e2f34;
    top: 88px;
    left: -100%;
    text-align: center;
    border-top: 2px solid white;
    transition: all 0.5s;
    display: block;
    z-index: 100;
  }
  .services {
    height: 850px;
  }
  .box {
    width: 250px;
    margin: 15px;
  }
  .services-container {
    display: flex;
    flex-wrap: wrap;
  }
  nav li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav a {
    font-size: 20px;
  }
  nav ul.show {
    left: 0;
  }
  nav ul li::after {
    content: "";
    height: 3.5px;
    width: 0%;
    background-color: rgb(245, 243, 243);
    display: block;
    margin: auto;
  }
  nav ul li:hover::after {
    width: calc(45% + 15px);
  }
  .home-text h2,
  #position {
    font-size: 34px;
  }
  .about-me {
    height: 900px;
  }
  .about-container {
    display: flex;
    flex-direction: column;
    height: 680px;
  }
  .first {
    width: 100%;
    height: 36%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .second {
    width: 100%;
    height: 64%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .HTML,
  .CSS,
  .JAVASCRIPT,
  .REACT,
  .NodeJS {
    width: 92%;
  }
  .bx {
    width: 80%;
  }
  .contact #name {
    width: 250px;
  }
  .contact #email {
    width: 250px;
  }
  .contact #message {
    width: 520px;
  }
  .active {
    outline: none;
    border: 4px solid white !important;
  }
.bx-text{
  outline: none;
  border: 4px solid red;
}
}
@media screen and (max-width: 559px) {
  .services {
    height: 1200px;
  }
  .contact #name {
    width: 180px;
  }
  .contact #email {
    width: 180px;
  }
  .contact #message {
    width: 380px;
  }
  .home-text h2,
  .home-text #position {
    font-family: sans-serif;
  }
  nav h2 {
    font-family: sans-serif;
    padding-top: 10px;
  }
  
}
@media screen and (max-width: 412px) {
  nav ul li:hover::after {
    width: 82%;
  }
  .home img {
    height: 450px;
  }
  .home-text h2,
  #position {
    font-size: 30px;
  }
  .first p {
    font-size: 1.2rem;
  }
  .bx {
    width: 95%;
    height: 256px;
  }
  .bx img {
    height: 180px;
  }
  .bx-text {
    height: 80px;
  }
  .bx-text h3 {
    font-size: 18px;
  }
  .name-email {
    display: flex;
    flex-direction: column;
  }
  .contact {
    height: auto;
  }
  .contact #name {
    width: 210px;
  }
  .contact #email {
    width: 210px;
  }
  .contact #message {
    width: 210px;
  }
  .contact #submit {
    margin-bottom: 18px;
  }
  .footer #fir {
    display: none;
  }
  .footer #sec {
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  .footer #sec a:hover {
    text-decoration: 4px underline white;
  }
  .footer {
    height: 200px;
  }
  footer p {
    font-size: 15px;
  }
}
@media screen and (max-width: 278px) {
  nav h2 {
    padding-left: 0px;
  }
  nav ul li:hover::after {
    width: 85%;
  }
  nav ul {
    width: 70%;
  }
  .first p {
    font-size: 1rem;
  }
  .about-me {
    height: 980px;
  }
  .box {
    width: 90%;
  }
  .contact #name {
    width: 90%;
    margin: 4px auto;
  }
  .contact #email {
    width: 90%;
    margin: 4px auto;
  }
  .contact #message {
    width: 90%;
  }
  .footer {
    height: 210px;
  }
  footer {
    height: 42px;
  }
}
